body{ background-color: black;
}
h1 {
    color: #f07171;
    font-size: 60px;
    text-align: center;
  }
  p {
      text-align: center;
      font-family: monospace;
  }
  p2 {color:rgb(252, 199, 199);
  font-size: 20px;
  font-style: initial;
  line-height: 0.5px;
  }

  h5 {color: salmon;}
  

  img,button {
    display: block;
    margin: 0 auto;
  }
  p {color: rgb(252, 199, 199);
     font-size: 20px;}

     button{
         color: rgb(223, 112, 140);
         border-color: red;
         background-color: rgb(75, 63, 63);
     }

     .container {
      overflow-y: scroll;
      height: 250px;
      width: 250px;
      }

      h2 {color: #f07171;
      
      }

      a{color: red;}

      button {
        padding: 10px 15px;
        }
        .med-red-border{
          border-color:salmon;
          border-width: 5px;
          border-style: groove;
          border-radius: 20%;
        }
        