body{ background-color: salmon;
}
h1 {
    color: #520a0a;
    font-size: 60px;
    text-align: center;
  }
  p {
      text-align: center;
  }
  img,button {
    display: block;
    margin: 0 auto;
  }
  p {color: black;
     font-size: 20px;}

     button{
         color: rgb(223, 112, 140);
         border-color: red;
         background-color: rgb(75, 63, 63);
     }

    